.nav {
    flex-direction: row;
    width: 100%;
    margin: .1rem;
    padding: .1rem;

    &-item{
        margin: .1rem;
        padding: .1rem;
    }
}

.nav-item.nav-right {
    margin-left:auto;
}