@import "../../styles/main.styles";

.nav {
    flex-direction: row;
    width: 100%;

    &-item{
        padding-right: .5rem;
    }
}

.nav-item.nav-right {
    margin-left: auto;
    padding-right: 0 !important;
    padding-left: .5rem;

    &-groupee {
        padding-right: 0 !important;
        padding-left: .5rem;
    }
}

.btn {
    font-size: 1.5rem;
}